<div class="banner">
    <img src="../../../assets/IMG/banner.png" alt="" width="100%" height="300px">
</div>

<body>

    <div class="productos">
        <h1 class="pt1">PRODUCTO</h1>
        <table>
            <thead class="pt">
                <td>nombreProducto</td>
                <td>marcaProducto</td>
                <td>presentacionProducto</td>
                <th>contenidoProducto</th>
                <th>costoProducto</th>
                <td>proovedorProducto</td>
                <th>cantidadIngresa</th>
                <td>statusProducto</td>
                <td>descripcionProducto</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of datos1; let i=index">
                    <td>{{item.nombreProducto}}</td>
                    <td>{{item.marcaProducto}}</td>
                    <td>{{item.presentacionProducto}}</td>
                    <td>{{item.contenidoProducto}}</td>
                    <td>{{item.costoProducto}}</td>
                    <td>{{item.proovedorProducto}}</td>
                    <td>{{item.cantidadIngresa}}</td>
                    <td>{{item.statusProducto}}</td>
                    <td>{{item.descripcionProducto}}</td>
                </tr>
                <br>
                <br>
            </tbody>
        </table>

    </div>



    <div class="empleado">
        <h1 class="et1">Empleado</h1>
        <table class="tab">
            <thead class="et">
                <th>nombreEmpleado</th>
                <th>apellidoEmpleado</th>
                <th>telefonoEmpleado</th>
                <td>correoEmpleado</td>
                <td>sueldoEmpleado</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of datos2; let i=index">
                    <td>{{item.nombreEmpleado}}</td>
                    <td>{{item.apellidoEmpleado}}</td>
                    <td>{{item.telefonoEmpleado}}</td>
                    <td>{{item.correoEmpleado}}</td>
                    <td>{{item.sueldoEmpleado}}</td>
                </tr>
                <br>
                <br>
            </tbody>
        </table>
    </div>



    <div class="proveedor">
        <h1 class="ppt1">Proovedores</h1>
        <table class="tab">
            <thead class="ppt">
                <th>nombreProovedor</th>
                <th>direccionProovedor</th>
                <th>telefonoProovedor</th>
                <td>correoProducto</td>
                <td>productoProovedor</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of datos3; let i=index">
                    <td>{{item.nombreProovedor}}</td>
                    <td>{{item.direccionProovedor}}</td>
                    <td>{{item.telefonoProovedor}}</td>
                    <td>{{item.correoProducto}}</td>
                    <td>{{item.productoProovedor}}</td>
                </tr>
                <br>
                <br>
            </tbody>
        </table>
    </div>







    <div class="stock">
        <h1 class="st1">Stock</h1>
        <table class="tab">
            <thead class="st">
                <th>numeroStock</th>
                <th>productoStock</th>
                <th>cantidadStock</th>
                <td>statusStock</td>
                <td>bloqueStock</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of datos4; let i=index">
                    <td>{{item.numeroStock}}</td>
                    <td>{{item.productoStock}}</td>
                    <td>{{item.cantidadStock}}</td>
                    <td>{{item.statusStock}}</td>
                    <td>{{item.bloqueStock}}</td>
                </tr>
                <br>
                <br>
            </tbody>
        </table>
    </div>








    <div class="sucursal">
        <h1 class="sst1">Sucursal</h1>
        <table class="tab">
            <thead class="sst">
                <th>nombreSucursal</th>
                <th>direccionSucursal</th>
                <th>telefonoSucursal</th>
                <td>correoSucursal</td>
                <td>encargadoSucursal</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of datos5; let i=index">
                    <td>{{item.nombreSucursal}}</td>
                    <td>{{item.direccionSucursal}}</td>
                    <td>{{item.telefonoSucursal}}</td>
                    <td>{{item.correoSucursal}}</td>
                    <td>{{item.encargadoSucursal}}</td>
                </tr>
                <br>
                <br>
            </tbody>
        </table>
    </div>

</body>