.banner{
    margin-top: -12px;
    margin-left: -11px;
    margin-right: -11px;
  }

  body{
    background-color: rgb(206, 206, 207);
    margin-left: -10px;
    margin-right: -30px;
    padding-top: 20px;
    margin-top: -30px;
  }

  h1{
    font-size: 33px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }





  .productos{
    background-color: rgb(144, 144, 231);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .pt{
    background-color: rgb(12, 12, 99);
    color:white;
    font-weight: bold;
  }
  .pt1{
    background-color: rgb(2, 2, 32);
    color: white;
  }
 






  .proveedor{
    background-color: rgb(168, 224, 156);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .ppt{
    background-color: rgb(18, 148, 13);
    color:white;
    font-weight: bold;
  }
  .ppt1{
    background-color: rgb(4, 61, 7);
    color: white;
  }
 








  .empleado{
    background-color: rgb(231, 131, 131);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
 
  .et{
    background-color: rgb(187, 14, 14);
    color:white;
    font-weight: bold;    
  }
  .tab{
    width: 100%;
  }
  .et1{
    background-color: rgb(87, 2, 2);
    color: white;
  }
 






  .stock{
    background-color: rgb(186, 130, 212);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .st{
    background-color: rgb(92, 8, 109);
    color:white;
    font-weight: bold;
  }
  .st1{
    background-color: rgb(54, 2, 56);
    color: white;
  }
 



  .sucursal{
    background-color: rgb(232, 233, 170);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .sst{
    background-color: rgb(170, 159, 9);
    color:white;
    font-weight: bold;
  }
  .sst1{
    background-color: rgb(127, 136, 7);
    color: white;
  }
 